body, html /*standard body elements*/
{
	height:100%;
	margin:0;
	font-size:20px;
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-weight:400;
	line-height:1.8em;
	/*color:#283334;*/
}

.picture_one, .picture_two /* pictures pulled to help website design*/
{
	position:relative;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	color:#283334;
}

.picture_one
{
	/*mountain photo*/
	background-image:url("https://i.redd.it/gdqn2q0zqdh21.jpg");
	min-height:50%;
}

.picture_two
{
	/*cacti photo*/
	background-image:url("https://i.redd.it/gdqn2q0zqdh21.jpg");
	min-height:50%;
}

.section /*section created to add a personal touch*/
{
	text-align: center;
	padding: 25px 80px;
	background-color:#283334;
	color:#ffffff;
}

.sectionLight
{
	text-align: center;
	padding: 25px 80px;
	background-color:#f2f2f2;
	color:#283334;
}
.htext /*header text */
{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	color:#ffffff;
	font-size:72px;
}
.ptext /*paragraph text*/
{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	color:#ffffff;
	font-size:27px;
	letter-spacing:8px;
}
.ttext /*other associated text in the webpage*/
{
	text-align: center;
	color:#ffffff;
}
.input /* centers the text in the form fields*/
{
	margin:auto;
	display: inline-block;
	text-align:center;
}
.column /*page with two columns split equally*/
{
    float: left;
    width: 49.7%;
}

.tricolumn /*page with three columns split equally*/
{
    float: left;
    width: 33.33%;
}
.quadcolumn /*page with four columns split equally*/
{
    float: left;
    width: 25%;
}
.quintcolumn /*page with five columns split equally*/
{
    float: left;
    width: 20%;
}
.row:after
{
	content: "";
    display: table;
    clear: both;
}
.lightLink a /*links with a dark background turn light when hovering over them*/
{
	border-radius: 4px;
	background-color: #283334;
	border: none;
	color: #f2f2f2;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	transition: all 0.25s;
	transition-timing-function: ease-out;
	cursor: pointer;
	margin: 5px;
	text-decoration:underline;
}

.lightLink a:hover
{
	background-color: #f2f2f2;
	padding-left: 20px;
	padding-right: 20px;
	color: #283334;
	text-decoration:none;
}

.darkLink a /*links with a light background turn dark when hovering over them*/
{
	color:#283334;
	padding: 16px;
	border-radius: 4px;
	border:none;
	transition:0.25s;
	text-decoration:underline;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	transition: all 0.25s;
	transition-timing-function: ease-out;
	cursor: pointer;
	margin: 5px;
}

.darkLink a:hover
{
	background-color: #283334;
	padding-left: 20px;
	padding-right: 20px;
	color: #f2f2f2;
	text-decoration:none;
}
.button /*button turns light when hovering over it*/
{
	border-radius: 4px;
	background-color: #283334;
	border: none;
	color: #f2f2f2;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	transition: all 0.25s;
	transition-timing-function: ease-out;
	cursor: pointer;
	margin: 5px;
	text-decoration:none;
	font-weight: bold;
}
.button:hover
{
	background-color: #f2f2f2;
	padding-left:20px;
	padding-right:20px;
	color: #283334;
}

.buttonLight /*button turns dark when hovering over it*/
{
	border-radius: 4px;
	background-color: #f2f2f2;
	border: none;
	color: #283334;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	transition: all 0.25s;
	transition-timing-function: ease-out;
	cursor: pointer;
	margin: 5px;
	text-decoration:none;
	font-weight: bold;
}
.buttonLight:hover
{
	background-color: #283334;
	padding-left:20px;
	padding-right:20px;
	color: #f2f2f2;
}

.framing
{
	border: none;
	/*background-color:#f2f2f2f2;*/
}
/*----------device scrolling safety eliminator----------*/
@media(max-width:568px)
{
	.picture_one, .picture_two
	{
		background-attachment:scroll;
	}
	
	.column, .tricolumn, .quadcolumn
	{
        width: 100%;
    }
	
}